<h1>メールアドレスの確認</h1>
<p><%= @user.name %> 様</p>
<p>RigLab へのご登録ありがとうございます。</p>
<p>以下のリンクからメールアドレスを確認してください（有効期限: 24時間）：</p>
<p><a href="<%= @confirm_url %>"><%= @confirm_url %></a></p>
<p>このメールに心当たりがない場合は、このメールを無視してください。</p>
